<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">Edit Player</h5>

<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
   <h3> <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %> </h3>
  </div>

  <div class="field">
    <h3> <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %> </h3>
  </div>

  <div class="field">
    <h3><%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :birthday %>
    <%= f.number_field :birthday, autofocus: true %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></h3>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<br><br>

  <div class="field">
    <h3><%= f.label :password %>  <small class="text-muted">(leave blank if you don't want to change it)</small></h3>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <h3><%= f.label :password_confirmation %></h3> 
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <h3><%= f.label :current_password %>
      <small class="text-muted">(Confirm your changes)</small> </h3>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<br>
<%= link_to "Back", :back %>


<br><br><br>
<p class="text-danger">Unhappy?
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  
</div> 
</div>
</div>
</div>

