<div class="">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">Sign Up</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h3><%= f.label :username %>
    <%= f.text_field :username, autofocus: true %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :birthday %>
    <%= f.number_field :birthday, autofocus: true %></h3>
  </div>


  <div class="field">
    <h3><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></h3>
  </div>


<br><br>

  <div class="field">
    <h3><%= f.label :password %>
    <% if @minimum_password_length %>
    <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <small class="text-muted">(<%= @minimum_password_length %> characters minimum)</small></h3>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %></h3>
  </div>

  <div class="field">
    <h3><%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></h3>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>