<div class="view">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto pb-5">
      <br><br><br><br>
      <h1 class="display-2 ml-auto text-white" style="text-shadow: 2px 2px black;"> Fight bold.</h1></li>
      <h3 class=" mb-3 ml-auto text-white" style="text-shadow: 2px 2px black;">Start your career as a fighter, or help someone accomplish their goal.</h3>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Find players." aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" id="hook_button"type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="jumbotron" id="hook">
  <div class="container ">
    <br>
    <h1 class="display-4">Fundraising tailored for fighting game players.</h1>
    <h4 class="lead">From Marvel Infnite to Guilty Gear, no matter what you play, we can help you fulfill your goals.</h4>
    <hr class="my-4">
    <h4 class="lead">Create your player profile and start crowdfunding your career.</h4>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    <br><br>
  </div>
</div>

<div class="view2">
<br><br><br><br><br>
<h1 class="display-4 text-white" align="center" style="text-shadow: 2px 2px black;">Current Incentives</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Synopsis</th>
          <th scope="col">Duedate</th>
          <th scope="col">Funds goal</th>
          <th scope="col">Funds current</th>
          <th scope="col">Player</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @goals.each do |goal| %>
          <tr class="table-primary">
            <td scope="row"><%= goal.title %></td>
            <td><%= goal.synopsis %></td>
            <td><%= goal.duedate %></td>
            <td><%= goal.funds_goal %></td>
            <td><%= goal.funds_current %></td>
            <td><%= goal.player.player_name %></td>
            <td><%= link_to 'Show', goal %></td>
            <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br><br><br><br>
    <h1 class="display-4 text-white" align="center" style="text-shadow: 2px 2px black;"> Figthers </h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Player name</th>
      <th scope="col">Description</th>
      <th scope="col">Youtube url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr class="table-primary">
        <td scope="row"><%= player.player_name %></td>
        <td><%= player.description %></td>
        <td><%= player.youtube_url %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br><br><br>

    <h1 class="display-4 text-white" align="center" style="text-shadow: 2px 2px black;"> My Incentives </h1>


    <p id="notice"><%= notice %></p>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Synopsis</th>
        <th scope="col">Duedate</th>
        <th scope="col">Funds goal</th>
        <th scope="col">Funds current</th>
        <th scope="col">Player</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% if @goals != nil %>
        <% @goals.each do |goal| %>
          <tr class="table-primary">
            <td scope="row"><%= goal.title %></td>
            <td><%= goal.synopsis %></td>
            <td><%= goal.duedate %></td>
            <td><%= goal.funds_goal %></td>
            <td><%= goal.funds_current %></td>
            <td><%= goal.player.player_name %></td>
            <td><%= link_to 'Show', goal %></td>
            <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <br><br><br>

  </div>
</div>
