<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :goalFunds %>
    <%= form.text_field :goalFunds, id: :event_goalFunds %>
  </div>

  <div class="field">
    <%= form.label :currentFunds %>
    <%= form.text_field :currentFunds, id: :event_currentFunds %>
  </div>

  <div class="field">
    <%= form.label :dateCreated %>
    <%= form.date_select :dateCreated, id: :event_dateCreated %>
  </div>

  <div class="field">
    <%= form.label :dateDue %>
    <%= form.date_select :dateDue, id: :event_dateDue %>
  </div>

  <div class="field">
    <%= form.label :createdBy %>
    <%= form.number_field :createdBy, id: :event_createdBy %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info, id: :event_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
