<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3 style="color: dimgray"><%= form.label :player_name %>
    <%= form.text_field :player_name, id: :player_player_name %></h3>
  </div>

  <div class="field">
    <h3 style="color: dimgray"><%= form.label :description %>
    <%= form.text_area :description, id: :player_description %></h3>
  </div>

  <div class="field">
    <h3 style="color: dimgray"><%= form.label :youtube_url %>
    <%= form.text_field :youtube_url, id: :player_youtube_url %></h3>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
