<div class="container ml-auto mb-5">
         <h5 class="display-4 ml-auto" style="color: dimgray">Players</h5>
<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Player name</th>
      <th scope="col">Description</th>
      <th scope="col">Youtube url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr class="table-dark">
        <td scope="row"><%= player.player_name %></td>
        <td><%= player.description %></td>
        <td><%= player.youtube_url %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @user !=  nil %>
  <% if @player.nil? %>
    <%= link_to 'New Player', new_player_path %>
  <% end %>
<% else %>
  <%= link_to 'Log in to create your player!', new_user_session_url %>
<% end %>


</div>