<div class="">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">Player</h5>

		<p id="notice" style="color: red"><%= notice %></p>

		 <h3>
		    Username
		    <small class="text-muted"><%= @player.user.username %></small>
		</h3>

		<h3>
		    Player Name
		    <small class="text-muted"><%= @player.player_name %></small>
		</h3>

		<h3>
		    Description
		    <small class="text-muted"><%= @player.description %></small>
		</h3>

		<h3>
		    Youtube URL
		    <small class="text-muted"><%= @player.youtube_url %></small>
		</h3>

		<ol class="breadcrumb">
	        <li class="breadcrumb-item"><a href="<%=edit_player_path(@player)%>">Edit</a></li>
			<li class="breadcrumb-item"><a href="<%=players_path %>">Back</a></li>
		</ol>
	</div>
  </div>
</div>
<div class="container">
  <div class="container ml-auto mb-5">
    <h5 class="display-4 ml-auto" style="color: dimgray"><%= @player.player_name %>'s Goals</h5>
    <p id="notice"><%= notice %></p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Synopsis</th>
        <th scope="col">Duedate</th>
        <th scope="col">Funds goal</th>
        <th scope="col">Funds current</th>
        <th scope="col">Player</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% if @goals_own != nil %>
        <% @goals_own.each do |goal| %>
          <tr class="table-dark">
            <td scope="row"><%= goal.title %></td>
            <td><%= goal.synopsis %></td>
            <td><%= goal.duedate %></td>
            <td><%= goal.funds_goal %></td>
            <td><%= goal.funds_current %></td>
            <td><%= goal.player.player_name %></td>
            <td><%= link_to 'Show', goal %></td>
            <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>