<%= form_with(model: goal, url: {action: "process_support", controller: "goals"}, local: true, method: :POST) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being supported:</h2>

      <ul>
        <% goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_ame%>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :address_pt1 %>
    <%= form.text_field :address_pt1 %>
  </div>

  <div class="field">
    <%= form.label :address_pt2 %>
    <%= form.text_field :address_pt2 %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="field">
    <%= form.label :donation %>
    <%= form.number_field :donation, id: :goal_donation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
