<div class="container ml-auto mb-5">
<h5 class="display-4 ml-auto" style="color: dimgray">Goals</h5>
<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Synopsis</th>
      <th scope="col">Duedate</th>
      <th scope="col">Funds goal</th>
      <th scope="col">Funds current</th>
      <th scope="col">Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr class="table-dark">
        <td scope="row"><%= goal.title %></td>
        <td><%= goal.synopsis %></td>
        <td><%= goal.duedate %></td>
        <td><%= goal.funds_goal %></td>
        <td><%= goal.funds_current %></td>
        <td><%= goal.player.player_name %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @user !=  nil %>
  <% if @player != nil %>
    <%= link_to 'New Goal', new_goal_path %>
  <% else %>
    <%= link_to 'Want to create a goal? Click here to start with the process', new_player_path %>
  <% end %>
<% else %>
  <%= link_to 'Log in to start creating your goals!', new_user_session_url %>
<% end %>
</div>