<div class="container">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
      <p id="notice" style="color: red"><%= notice %></p>

      <h3>
        Title:
         <small class="text-muted"><%= @goal.title %></small>
      </h3>

      <h3>
        <strong>Synopsis:</strong>
         <small class="text-muted"><%= @goal.synopsis %></small>
      </h3>

      <h3>
        <strong>Duedate:</strong>
         <small class="text-muted"><%= @goal.duedate %></small>
      </h3>

      <h3>
        <strong>Funds goal:</strong>
         <small class="text-muted"><%= @goal.funds_goal %></small>
      </h3>

      <h3>
        <strong>Funds current:</strong>
         <small class="text-muted"><%= @goal.funds_current %></small>
      </h3>

      <h3>
        <strong>Player:</strong>
         <small class="text-muted"><%= @goal.player %></small>
      </h3>

      <div class="progress">
         <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= @goal.progress %>%" aria-valuenow="<%= @goal.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>


      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%=edit_goal_path(@goal)%>">Edit</a></li>
          <li class="breadcrumb-item"><a href="<%=goals_path%>">Back</a></li>
          <li class="breadcrumb-item"><a href="<%=support_goal_url%>">Support This Goal</a></li>
      </ol>

    </div>
  </div>
</div>