<h1>Profile#index</h1>
<p>Find me in app/views/profile/index.html.erb</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= "0" + (@user.birthday/1000000).to_s + "/" + "0" + ((@user.birthday%100000)/10000).to_s + "/" + (@user.birthday%10000).to_s %>
</p>
<%= link_to "Edit your profile!", edit_user_registration_path(@user)%>

<% if !current_user.is_player?%>
    <%= link_to "Create my player's page.", new_player_url%>
<% else %>
  <%=link_to "Edit my player's page.", edit_player_path(@player)%>
  <% if @goals == nil %>
    <%= link_to "Create new goal.", new_goal_url %>
  <% else %>
    <%= link_to "View my goals.", goals_url %>
  <% end %>
<% end %>





