<div class="">
  <div class="full-bg-img flex-center">
    <div class="container ml-auto mb-5">
         <h5 class="display-3 ml-auto" style="color: dimgray">Profile</h5>
      <h3>
        Username
        <small class="text-muted"><%= @user.username %></small>
      </h3>

      <h3>
        FirstName
        <small class="text-muted"><%= @user.first_name %></small>
      </h3>

      <h3>
        LastName
        <small class="text-muted"><%= @user.last_name %></small>
      </h3>

      <h3>
        Birthdate
        <small class="text-muted"><%= "0" + (@user.birthday/1000000).to_s + "/" + "0" + ((@user.birthday%100000)/10000).to_s + "/" + (@user.birthday%10000).to_s %></small>
      </h3>



      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users/edit">Edit your profile</a></li>


      <% if !current_user.is_player?%>
          <li class="breadcrumb-item"><a href="/players/new">Create Player Page</a></li>
      <% else %>
        <li class="breadcrumb-item"><a href="<%=edit_player_path(@player)%>">Edit My Player Page</a></li>
        <% if @goals == nil %>
          <li class="breadcrumb-item"><a href="<%=new_goal_url %>">Create New Goal</a></li>
        <% else %>
          <li class="breadcrumb-item"><a href="<%=goals_own_index_url %>">View My Goals</a></li>
        <% end %>
      <% end %>
      </ol>

    </div>
  </div>
</div>



<!--
<%= link_to "Edit your profile!", edit_user_registration_path(@user)%>
<% if !current_user.is_player?%>
    <%= link_to "Create my player's page.", new_player_url%>
<% else %>
  <%=link_to "Edit my player's page.", edit_player_path(@player)%>
  <% if @goals == nil %>
    <%= link_to "Create new goal.", new_goal_url %>
  <% else %>
    <%= link_to "View my goals.", goals_own_index_url %>
  <% end %>
<% end %>

-->



