    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container" >
        <a class="navbar-brand" href="<%=home_index_url%>"><h2>sponsor.me ?</h2></a>
        <div class=" navbar-nav  mr-auto">
          <a class="nav-item nav-link" href="<%=players_url%>">Players</a>
          <a class="nav-item nav-link" href="<%=goals_url%>">Goals</a>
        </div>
      <ul class="navbar-nav">
          <li>
            <% if (user_signed_in? != true) %>
              <a href="<%= new_user_registration_url %>"role="button" class="btn btn-primary mr-3">Sign Up<span class="sr-only">(current)</span></a>
            <% end %>
          </li>
          <% if user_signed_in? != true %>
            <li>
              <a class="btn btn-outline-secondary" href="<%= new_user_session_url %>" role="button">Log In </a>
          <% else%>
            <a class="btn btn-outline-secondary" href="<%= destroy_user_session_url %>" data-method="delete">Sign Out </a>
            <a class="btn btn-outline-secondary ml-2" href="<%= profile_index_url %>" data-method="get">My Profile</a>
            </li>
          <% end%>
        <% if user_signed_in?%>
        <li>

          <% if @player_nav != nil  %>
          <a class="btn btn-outline-secondary ml-2" href="<%=player_path(@player_nav)%>">My Player</a>
            <% else %>
            <a class="btn btn-outline-secondary ml-2" href="<%=new_player_url%>">My Player</a>
            <% end %>

            <a class="btn btn-outline-secondary ml-2" href="<%=new_player_url%>">My Goal</a>
        </li>
        <% end%>
        <li>
          <a class="btn btn-outline-secondary ml-2" href="<%=new_goal_url%>">Start Here!</a>
        </li>
      </ul>
      </div>
    </nav>
    